.brand-logo{
  margin-left: 20px;
}

.collection-header h1{
  padding: 10px;
  font-size: 30px;
}

.upload-file{
  padding: 20px 0;
}

.footer{
  background: #f9f9f9;
  padding: 20px 0;
  text-align: center;

}